nbproject
ccan/opt/.dirstamp
compat/jansson-2.6/jansson.pc
compat/jansson-2.6/libtool
compat/jansson-2.6/ltmain.sh
compat/jansson-2.6/m4/libtool.m4
compat/jansson-2.6/m4/ltoptions.m4
compat/jansson-2.6/m4/ltsugar.m4
compat/jansson-2.6/m4/ltversion.m4
compat/jansson-2.6/m4/lt~obsolete.m4
compat/jansson-2.6/src/.libs/
compat/jansson-2.6/src/dump.lo
compat/jansson-2.6/src/error.lo
compat/jansson-2.6/src/hashtable.lo
compat/jansson-2.6/src/jansson_config.h
compat/jansson-2.6/src/libjansson.la
compat/jansson-2.6/src/load.lo
compat/jansson-2.6/src/memory.lo
compat/jansson-2.6/src/pack_unpack.lo
compat/jansson-2.6/src/strbuffer.lo
compat/jansson-2.6/src/strconv.lo
compat/jansson-2.6/src/utf.lo
compat/jansson-2.6/src/value.lo
compat/libusb-1.0/libtool
compat/libusb-1.0/libusb-1.0.pc
compat/libusb-1.0/libusb/.libs/
compat/libusb-1.0/libusb/os/.dirstamp
compat/libusb-1.0/ltmain.sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4



cgminer
cgminer.exe
minerd
minerd.exe
*.o
*.bin

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.guess
config.sub

mingw32-config.cache

*~

ext_deps
config.h.in
config.h


ccan/libccan.a
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/stdint.h
lib/warn-on-use.h

mkinstalldirs

*.swp
