nbproject
.dirstamp
.libs/
jansson.pc
compat/jansson-2.9/src/jansson_config.h
compat/jansson-2.9/jansson_private_config.h
libtool
ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
SI/*


cgminer
cgminer.exe
minerd
minerd.exe
*.o
*.lo
*.la
*.bin
*.a

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.guess
config.sub

mingw32-config.cache

*~

ext_deps
config.h.in
config.h


ccan/libccan.a
lib/arg-nonnull.h
lib/c++defs.h
lib/libgnu.a
lib/signal.h
lib/string.h
lib/stdint.h
lib/warn-on-use.h

mkinstalldirs

*.swp
